*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body{
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  background: #e0e0e0;
  color: #444;
}

/* Confirmation Overlay */
.conformation-overlay{
  position: fixed;
  height: 10rem;
  width: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 600;
  top: 3%;
  left: 50%;
  transform: translate(-50%, -3%) translateY(-200%);
  background: #222;
  border-radius: 2rem;
  color: #e0e0e0;
  transition: all 300ms ease-in-out;
}

/* Form Overlay */
.form-overlay-users, .form-overlay-domain{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
  transition: all 500ms ease-in-out;
}

.form-container{
  width: 50rem;
  height: 50rem;
  background: #444;
  overflow: hidden;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.input-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

label{
  color: #e0e0e0;
  font-size: 1.6rem;
  font-weight: 500;
}

input{
  background: transparent;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: #e0e0e0;
}

select{
  background: transparent;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: #e0e0e0;
}

option{
  background: transparent;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  color: #444;
}

.add-button:link{
  background: #e0e0e0;
}

button{
  background: #e0e0e0;
  color: #444;
  padding: 0.5rem 1.6rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 300ms;
}

button:hover{
  background: #969696;
  color: rgb(48, 48, 48);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Header Section */

.header{
  width: 100vw;
  height: 15vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header-flex{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-text{
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation-list{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.primary-link:link, .primary-link:visited{
  text-decoration: none;
  color: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1.3rem;
  background: #444;
  color: #e0e0e0;
  border-radius: 5rem;
  transition: all 300ms;
}

.primary-link:hover{
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.2);
}

.primary-link:active{
  box-shadow: 5px 5px 7px  rgba(0, 0, 0, 0.3);
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
}

/* Users Section */

.links-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

table{
  width: 80vw;
}

th{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  padding: 0.5rem 1.3rem;
}

td{
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5rem 1.3rem;
}

tr{
  color: #fff;
  background-color: #999;
}

tr:first-child{
  color: #e0e0e0;
  background-color: #444;
}